<section class="portfolio-block block-intro gradient">
  <h1>Luca NICOLAS</h1>
  <div class="container">
    <div class="avatar" style="background-image:url('assets/img/avatars/avatar.jpg');"></div>
    <div class="about-me">
      <p>Développeur Full Stack passionné</p>
      <a mat-raised-button color="primary" routerLink=""
         style="background: rgba(255,255,255,0);box-shadow: 0 5px 20px rgba(0,0,0,0.19);color: rgb(255,255,255);">Contactez-moi</a>
    </div>
  </div>
</section>
<section class="portfolio-block photography projects-container">
  <div class="container">
    <div class="heading">
      <h2>Projets</h2>
    </div>
    <div class="row g-0">
      <ng-container *ngFor="let project of projectService.getProjects(3)">
        <div class="col-md-6 col-lg-4 item zoom-on-hover project-cc"
             (mouseover)="desc.style.visibility = 'visible'; desc.style.opacity = '1'"
             (mouseout)="desc.style.visibility = 'hidden'; desc.style.opacity = '0'">
          <a class="p-link" routerLink="{{project.route}}">
            <img class="img-fluid image" src="{{project.image}}" alt="Image du projet {{project.name}}">
            <div class="title-container"><h3>{{project.name}}</h3></div>
            <div class="desc-container"><p #desc id="p-desc">{{project.description}}</p></div>
          </a>
        </div>
      </ng-container>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; padding-top: 2em; padding-bottom: 1em;">
      <a class="btn btn-outline-primary" role="button" routerLink="projects">Voir tout mes projets</a>
    </div>
  </div>
</section>
